body {
   background-image: url('images/Object.png');
   background-repeat: no-repeat;
   background-size: 100vw, 100vh;
}

header {
    height: 29.461px;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 0%;
    padding-top: 2%;
}

header img {
    width: 167.016px;
    height: 29.461px;
    flex-shrink: 0;
}

#menu {
    display: inline-flex;
    height: 15px;
    justify-content: center;
    align-items: flex-start;
    gap: 52px;
    flex-shrink: 0;
}

.navlinks {
    color: #FFF;
    font-family: Source Sans Pro, Consolas, "Courier New", monospace;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



#banner-heading h1 {
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#banner-heading p {
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}